## ***DATA CLEANING***

# **Data Cleaning DataFrames REPLACE DROP NA**

In [19]:
import pandas as pd

# Load the CSV file into a DataFrame
ginjal = pd.read_csv('/content/penyakit_ginjal_kronik-1.csv')
print(ginjal)
print(len(ginjal))
print("------------------------------------------------------------------------")
# Drop rows with missing values (NaN)
ginjal_droppedna = ginjal.dropna()
print(ginjal_droppedna)

# Replace 'yes' with 'Iya' in specific columns
ginjal_droppedna = ginjal_droppedna.replace({
    'hipertensi': {'yes': 'Iya'},
    'diabetes': {'yes': 'Iya'},
    'cad': {'yes': 'Iya'},
    'edema': {'yes': 'Iya'},
    'anemia': {'yes': 'Iya'}
})

# Display the modified DataFrame
print(ginjal_droppedna)
print(len(ginjal_droppedna))

      id  umur  tekanandarah  gravitas  albumin  sugar seldarahmerah  \
0      0  48.0          80.0     1.020      1.0    0.0           NaN
1      1   7.0          50.0     1.020      4.0    0.0           NaN
2      2  62.0          80.0     1.010      2.0    3.0  Tidak Normal
3      3  48.0          70.0     1.005      4.0    0.0  Tidak Normal
4      4  51.0          80.0     1.010      2.0    0.0  Tidak Normal
..   ...   ...           ...       ...      ...    ...           ...
395  395  55.0          80.0     1.020      0.0    0.0  Tidak Normal
396  396  42.0          70.0     1.025      0.0    0.0  Tidak Normal
397  397  12.0          80.0     1.020      0.0    0.0  Tidak Normal
398  398  17.0          60.0     1.025      0.0    0.0  Tidak Normal
399  399  58.0          80.0     1.025      0.0    0.0  Tidak Normal

           pussel    gds  ureum  ...  MCV  seldarahputih  seldarahmerah.1  \
0    Tidak Normal  121.0   36.0  ...   44           7800              5.2
1    Tidak Normal    NaN   18.0  ...   38           6000              NaN
2    Tidak Normal  423.0   53.0  ...   31           7500              NaN
3          Normal  117.0   56.0  ...   32           6700              3.9
4    Tidak Normal  106.0   26.0  ...   35           7300              4.6
..            ...    ...    ...  ...  ...            ...              ...
395  Tidak Normal  140.0   49.0  ...   47           6700              4.9
396  Tidak Normal   75.0   31.0  ...   54           7800              6.2
397  Tidak Normal  100.0   26.0  ...   49           6600              5.4
398  Tidak Normal  114.0   50.0  ...   51           7200              5.9
399  Tidak Normal  131.0   18.0  ...   53           6800              6.1

     hipertensi diabetes    cad nafsumakan  edema anemia klasifikasi
0           yes      yes  Tidak       baik  Tidak  Tidak         ckd
1         Tidak    Tidak  Tidak       baik  Tidak  Tidak         ckd
2         Tidak      yes  Tidak      buruk  Tidak    yes         ckd
3           yes    Tidak  Tidak      buruk    yes    yes         ckd
4         Tidak    Tidak  Tidak       baik  Tidak  Tidak         ckd
..          ...      ...    ...        ...    ...    ...         ...
395       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd
396       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd
397       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd
398       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd
399       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd

[400 rows x 24 columns]
400
------------------------------------------------------------------------
      id  umur  tekanandarah  gravitas  albumin  sugar seldarahmerah  \
3      3  48.0          70.0     1.005      4.0    0.0  Tidak Normal
9      9  53.0          90.0     1.020      2.0    0.0        Normal
11    11  63.0          70.0     1.010      3.0    0.0        Normal
14    14  68.0          80.0     1.010      3.0    2.0  Tidak Normal
20    20  61.0          80.0     1.015      2.0    0.0        Normal
..   ...   ...           ...       ...      ...    ...           ...
395  395  55.0          80.0     1.020      0.0    0.0  Tidak Normal
396  396  42.0          70.0     1.025      0.0    0.0  Tidak Normal
397  397  12.0          80.0     1.020      0.0    0.0  Tidak Normal
398  398  17.0          60.0     1.025      0.0    0.0  Tidak Normal
399  399  58.0          80.0     1.025      0.0    0.0  Tidak Normal

           pussel    gds  ureum  ...  MCV  seldarahputih  seldarahmerah.1  \
3          Normal  117.0   56.0  ...   32           6700              3.9
9          Normal   70.0  107.0  ...   29          12100              3.7
11         Normal  380.0   60.0  ...   32           4500              3.8
14         Normal  157.0   90.0  ...   16          11000              2.6
20         Normal  173.0  148.0  ...   24           9200              3.2
..            ...    ...    ...  ...  ...            ...              ...
395  Tidak Normal  140.0   49.0  ...   47           6700              4.9
396  Tidak Normal   75.0   31.0  ...   54           7800              6.2
397  Tidak Normal  100.0   26.0  ...   49           6600              5.4
398  Tidak Normal  114.0   50.0  ...   51           7200              5.9
399  Tidak Normal  131.0   18.0  ...   53           6800              6.1

     hipertensi diabetes    cad nafsumakan  edema anemia klasifikasi
3           yes    Tidak  Tidak      buruk    yes    yes         ckd
9           yes      yes  Tidak      buruk  Tidak    yes         ckd
11          yes      yes  Tidak      buruk    yes  Tidak         ckd
14          yes      yes    yes      buruk    yes  Tidak         ckd
20          yes      yes    yes      buruk    yes    yes         ckd
..          ...      ...    ...        ...    ...    ...         ...
395       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd
396       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd
397       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd
398       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd
399       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd

[159 rows x 24 columns]
      id  umur  tekanandarah  gravitas  albumin  sugar seldarahmerah  \
3      3  48.0          70.0     1.005      4.0    0.0  Tidak Normal
9      9  53.0          90.0     1.020      2.0    0.0        Normal
11    11  63.0          70.0     1.010      3.0    0.0        Normal
14    14  68.0          80.0     1.010      3.0    2.0  Tidak Normal
20    20  61.0          80.0     1.015      2.0    0.0        Normal
..   ...   ...           ...       ...      ...    ...           ...
395  395  55.0          80.0     1.020      0.0    0.0  Tidak Normal
396  396  42.0          70.0     1.025      0.0    0.0  Tidak Normal
397  397  12.0          80.0     1.020      0.0    0.0  Tidak Normal
398  398  17.0          60.0     1.025      0.0    0.0  Tidak Normal
399  399  58.0          80.0     1.025      0.0    0.0  Tidak Normal

           pussel    gds  ureum  ...  MCV  seldarahputih  seldarahmerah.1  \
3          Normal  117.0   56.0  ...   32           6700              3.9
9          Normal   70.0  107.0  ...   29          12100              3.7
11         Normal  380.0   60.0  ...   32           4500              3.8
14         Normal  157.0   90.0  ...   16          11000              2.6
20         Normal  173.0  148.0  ...   24           9200              3.2
..            ...    ...    ...  ...  ...            ...              ...
395  Tidak Normal  140.0   49.0  ...   47           6700              4.9
396  Tidak Normal   75.0   31.0  ...   54           7800              6.2
397  Tidak Normal  100.0   26.0  ...   49           6600              5.4
398  Tidak Normal  114.0   50.0  ...   51           7200              5.9
399  Tidak Normal  131.0   18.0  ...   53           6800              6.1

     hipertensi diabetes    cad nafsumakan  edema anemia klasifikasi
3           Iya    Tidak  Tidak      buruk    Iya    Iya         ckd
9           Iya      Iya  Tidak      buruk  Tidak    Iya         ckd
11          Iya      Iya  Tidak      buruk    Iya  Tidak         ckd
14          Iya      Iya    Iya      buruk    Iya  Tidak         ckd
20          Iya      Iya    Iya      buruk    Iya    Iya         ckd
..          ...      ...    ...        ...    ...    ...         ...
395       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd
396       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd
397       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd
398       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd
399       Tidak    Tidak  Tidak       baik  Tidak  Tidak   Tidaktckd

[159 rows x 24 columns]
159

# **Data Cleaning DUPLICATES**

In [40]:
import pandas as pd

# Load the CSV file into a DataFrame
netflix = pd.read_csv('/content/netflix_titles-1.csv')
# Set 'show_id' as the index of the DataFrame
netflix = netflix.set_index('show_id')
print(len(netflix))
print(netflix[netflix.duplicated(keep='last')].index)
# print(netflix[netflix.duplicated(keep='last')].index.unique())
netflix_drop_duplicated = netflix.drop_duplicates()
# print(netflix_drop_duplicated)
print(len(netflix_drop_duplicated))

108
Index(['s2', 's24', 's2', 's69', 's20', 's89', 's47', 's20', 's89'], dtype='object', name='show_id')
99