# **READING DB DATA**

In [14]:
import sqlite3
import pandas as pd
# Path to the SQLite database file
db_path = '/content/chinook.db'
connection = sqlite3.connect(db_path)
cursor = connection.cursor()
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
databases = pd.DataFrame(rows)
databases.columns = [column[0] for column in cursor.description]
databases['City'] = databases['City'].apply(lambda x: 'Toronto' if x != 'Calgary' else 'Calgary')
# databases.loc[databases['City'] != 'Calgary', 'City'] = 'Toronto'
calgary_data = databases[databases['City'] == 'Calgary']
# print(databases.head())
# print(calgary_data.head())