# **PANDAS EXTERNAL DATA**

In [5]:
import pandas as pd
tourism = pd.read_csv('/content/package_tourism.csv')

tourism.columns = ['Paket', 'Kota', 'Destinasi 1', 'Destinasi 2', 'Destinasi 3', 'Destinasi 4', 'Destinasi 5']
print(tourism)
print(tourism.columns)

    Paket      Kota                      Destinasi 1  \
0       1   Jakarta                Pasar Tanah Abang
1       2   Jakarta                Pasar Tanah Abang
2       3   Jakarta            Perpustakaan Nasional
3       4   Jakarta                     Pulau Tidung
4       5   Jakarta            Museum Satria Mandala
..    ...       ...                              ...
95     96  Surabaya      Ekowisata Mangrove Wonorejo
96     97  Surabaya                Ciputra Waterpark
97     98  Surabaya    Museum Kesehatan Dr. Adhyatma
98     99  Surabaya  Taman Ekspresi Dan Perpustakaan
99    100  Surabaya              Taman Buah Surabaya

                 Destinasi 2                     Destinasi 3  \
0               Taman Ayodya                  Museum Tekstil
1         Pasar Taman Puring            Pasar Petak Sembilan
2                      Monas                 Masjid Istiqlal
3             Pulau Bidadari                      Pulau Pari
4              Museum Wayang           Museum Bahari Jakarta
..                       ...                             ...
95     Taman Harmoni Keputih             Taman Kunang-Kunang
96             Kenjeran Park         Kebun Binatang Surabaya
97  Patung Buddha Empat Rupa            Taman Hiburan Rakyat
98   Museum De Javasche Bank  Surabaya Museum (Gedung Siola)
99       Hutan Bambu Keputih                Taman Barunawati

                                          Destinasi 4  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                       Pulau Pramuka
4   Museum Macan (Modern and Contemporary Art in N...
..                                                ...
95                    Taman Ekspresi Dan Perpustakaan
96                        Food Junction Grand Pakuwon
97                                      Taman Bungkul
98                                Museum Mpu Tantular
99                               Kebun Bibit Wonorejo

                         Destinasi 5
0                                NaN
1                                NaN
2                                NaN
3                      Pulau Pelangi
4                                NaN
..                               ...
95           Museum De Javasche Bank
96          | Atlantis Land Surabaya
97      Taman Flora Bratang Surabaya
98  Taman Air Mancur Menari Kenjeran
99                       Taman Mundu

[100 rows x 7 columns]
Index(['Paket', 'Kota', 'Destinasi 1', 'Destinasi 2', 'Destinasi 3',
       'Destinasi 4', 'Destinasi 5'],
      dtype='object')

# **PANDAS MINI PROJECT**

In [73]:
import pandas as pd
bali = pd.read_csv('/content/bali_tourist.csv')

print(bali, '\n')
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
bulan_bali = bali.groupby('year')[months].sum()
bulan_bali_analisa =  bulan_bali.copy()
bulan_bali_analisa["Jumlah Total"] = bulan_bali.sum(axis=1)
bulan_bali_analisa["Rata-Rata"] = bulan_bali.mean(axis=1)
bulan_bali_analisa["Total Turis Paling Banyak"] = bulan_bali.max(axis=1)
bulan_bali_analisa["Bulan Turis Paling Banyak"] = bulan_bali.idxmax(axis=1)
bulan_bali_analisa["Total Turis Paling Sedikit"] = bulan_bali.min(axis=1)
bulan_bali_analisa["Bulan Turis Paling Sedikit"] = bulan_bali.idxmin(axis=1)
print(bulan_bali_analisa, '\n')
print("--------------------------------------------------------------------------")
bali_area_tahun = bali.groupby(['year', 'area'])[months].sum().sum(axis=1)
print(bali_area_tahun)
print(bali_area_tahun.groupby('year').idxmax())
print(bali_area_tahun.groupby('year').max() )

     year                 area               country  January  February  \
0    2019        ASIA PACIFIC             AUSTRALIAN    95536     67474
1    2019        ASIA PACIFIC                 BHUTAN       60        30
2    2019        ASIA PACIFIC             BANGLADESH     2262      2094
3    2019        ASIA PACIFIC                   FIJI       91        73
4    2019        ASIA PACIFIC               HONGKONG     1313      1367
..    ...                  ...                   ...      ...       ...
357  2018          MIDDLE EAST                TURKEY      899       615
358  2018          MIDDLE EAST  UNITED ARAB EMIRATES      170       132
359  2018          MIDDLE EAST                 YAMAN       98        49
360  2018          MIDDLE EAST                JORDAN      225       153
361  2018  OTHER NATIONALITIES   OTHER NATIONALITIES     6952      1704

     March    April    May    June    July  August  September  October  \
0    83002  90265.0  98625  110815  123293  118556     124416   119382
1       47     38.0     31      31      46      67         43       32
2     2489   2264.0   1938    4265    2656    2307       2035     2371
3       72     77.0     42      62    2656      80         68       78
4      764      6.0      1       5       2       1          0       11
..     ...      ...    ...     ...     ...     ...        ...      ...
357    750    960.0    712     909    1306    1630        979      707
358    266    264.0    111     293     375     306        164      151
359     76     55.0     23      62      40      52         67       37
360    236    352.0    150     260     389     448        283      255
361   1771   2484.0   2167    3711    2054    1269       1762     2604

     November  December
0      105312    110711
1          56        60
2        2164      2671
3          89       189
4           0        45
..        ...       ...
357       514       521
358       147       201
359        60        85
360       218       254
361      3298       673

[362 rows x 15 columns]

      January  February   March     April     May    June    July  August  \
year
2018   358065    452423  492678  516777.0  528512  544550  624366  573766
2019   456218    437537  449637  476327.0  485634  549751  594279  616706

      September  October  November  December  Jumlah Total      Rata-Rata  \
year
2018     555903   517889    407213    501211     6073353.0  506112.750000
2019     590565   568064    497925    552402     6275045.0  522920.416667

      Total Turis Paling Banyak Bulan Turis Paling Banyak  \
year
2018                   624366.0                      July
2019                   616706.0                    August

      Total Turis Paling Sedikit Bulan Turis Paling Sedikit
year
2018                    358065.0                    January
2019                    437537.0                   February

--------------------------------------------------------------------------
year  area
2018  AFRICA                   54491.0
      AMERICA                 367639.0
      ASEAN                   514324.0
      ASIA PACIFIC           3653078.0
      EUROPE                 1392795.0
      MIDDLE EAST              60577.0
      OTHER NATIONALITIES      30449.0
2019  AFRICA                   66474.0
      AMERICA                 415262.0
      ASEAN                   579627.0
      ASIA PACIFIC           3614482.0
      EUROPE                 1485287.0
      MIDDLE EAST              75659.0
      OTHER NATIONALITIES      38254.0
dtype: float64
year
2018    (2018, ASIA PACIFIC )
2019    (2019, ASIA PACIFIC )
dtype: object
year
2018    3653078.0
2019    3614482.0
dtype: float64