### **PANDAS ASSIGMENT**

## *SERIES*

**Creating Indexing, Selecting a Series**

In [ ]:
import pandas as pd
import numpy as np

# Data bulan
data = np.array(['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni',
        'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'])
index_bulan = [1,2,3,4,5,6,7,8,9,10,11,12]

# Membuat Series dengan data sebagai index
series = pd.Series(data, index=index_bulan)
# print("Seluruh Series:")
# print(series)

print(series.iloc[0:13])
print(series.loc[1:12])

print(series[1], series[2], series[3], series[4], series[5], series[6],
      series[7], series[8], series[9], series[10], series[11], series[12])

1       Januari
2      Februari
3         Maret
4         April
5           Mei
6          Juni
7          Juli
8       Agustus
9     September
10      Oktober
11     November
12     Desember
dtype: object
1       Januari
2      Februari
3         Maret
4         April
5           Mei
6          Juni
7          Juli
8       Agustus
9     September
10      Oktober
11     November
12     Desember
dtype: object
Januari Februari Maret April Mei Juni Juli Agustus September Oktober November Desember

**CONDITIONAL SELECTION AND OPERATION Series**

In [ ]:
import pandas as pd
import numpy as np

# Data bulan
index_bulan = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni',
        'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember']
data = np.array([408, 943, 902, 117, 389, 435, 793, 356, 651, 993, 786, 157])
# Membuat Series dengan data sebagai index
series = pd.Series(data, index=index_bulan)
mean_value = series.mean()
print(mean_value)
print(series[series > series.mean()])
series_adjusted = series.where(series <= mean_value, mean_value)
print(series_adjusted)
series_adjusted_plus = series_adjusted + 5
print(series_adjusted_plus)
series_adjusted_minus = series_adjusted - 5
print(series_adjusted_minus)

577.5
Februari     943
Maret        902
Juli         793
September    651
Oktober      993
November     786
dtype: int64
Januari      408.0
Februari     577.5
Maret        577.5
April        117.0
Mei          389.0
Juni         435.0
Juli         577.5
Agustus      356.0
September    577.5
Oktober      577.5
November     577.5
Desember     157.0
dtype: float64
Januari      413.0
Februari     582.5
Maret        582.5
April        122.0
Mei          394.0
Juni         440.0
Juli         582.5
Agustus      361.0
September    582.5
Oktober      582.5
November     582.5
Desember     162.0
dtype: float64
Januari      403.0
Februari     572.5
Maret        572.5
April        112.0
Mei          384.0
Juni         430.0
Juli         572.5
Agustus      351.0
September    572.5
Oktober      572.5
November     572.5
Desember     152.0
dtype: float64

# *PANDAS*

**Creating, Indexing, Selecting DataFrame**

In [ ]:
import pandas as pd
df = pd.DataFrame(
    {
        "Athlete": ["Niko", "Michael", "Peps", "Natalie", "Aleskey"],
        "Age": [23, 19, 27, 25, 24],
        "Country": ["United States", "Canada", "United States", "Norway", "China"],
        "Year": [2008, 2004, 2012, 2008, 2000],
        "Gold Medals": [8, 6, 4, 1, 2]
    }, columns=['Athlete', "Age", "Country", "Year", "Gold Medals"],
    index = ["1", "2", "3", "4", "5"]
)
print(df)
print(df.columns)
print(df[['Athlete', "Country", "Year"]])
# print(df.loc[:, 'Athlete': "Year"])
print(df.iloc[0:3,:])

   Athlete  Age        Country  Year  Gold Medals
1     Niko   23  United States  2008            8
2  Michael   19         Canada  2004            6
3     Peps   27  United States  2012            4
4  Natalie   25         Norway  2008            1
5  Aleskey   24          China  2000            2
Index(['Athlete', 'Age', 'Country', 'Year', 'Gold Medals'], dtype='object')
   Athlete        Country  Year
1     Niko  United States  2008
2  Michael         Canada  2004
3     Peps  United States  2012
4  Natalie         Norway  2008
5  Aleskey          China  2000
   Athlete  Age        Country  Year  Gold Medals
1     Niko   23  United States  2008            8
2  Michael   19         Canada  2004            6
3     Peps   27  United States  2012            4

**Conditional Selection and Modifying DataFrames**

In [ ]:
import pandas as pd
df = pd.DataFrame(
    {
        "Athlete": ["Niko", "Michael", "Peps", "Natalie", "Aleskey"],
        "Age": [23, 19, 27, 25, 24],
        "Country": ["United States", "Canada", "United States", "Norway", "China"],
        "Year": [2008, 2004, 2012, 2008, 2000],
        "Gold Medals": [8, 6, 4, 1, 2]
    }, columns=['Athlete', "Age", "Country", "Year", "Gold Medals"],
    index = ["1", "2", "3", "4", "5"]
)
print(df.loc[df["Country"] == "United States"])
print(df.loc[df["Year"] == 2008])
print(df.loc[(df["Age"] == 25) & (df["Country"] == "Norway")])
indices_to_drop = df.loc[(df["Age"] == 25) & (df["Country"] == "Norway")].index
print(indices_to_drop)
df_drop = df.drop(indices_to_drop)
print(df_drop)

# Create a Series for Silver Medals
silver_medals = pd.Series([0, 0, 2, 1], index=["1", "2", "3", "5"],
                          name="Silver Medals")

# Add Silver Medals to the original DataFrame
df_drop["Silver Medals"] = silver_medals
print("\nDataFrame with Silver Medals:")
print(df_drop)

  Athlete  Age        Country  Year  Gold Medals
1    Niko   23  United States  2008            8
3    Peps   27  United States  2012            4
   Athlete  Age        Country  Year  Gold Medals
1     Niko   23  United States  2008            8
4  Natalie   25         Norway  2008            1
   Athlete  Age Country  Year  Gold Medals
4  Natalie   25  Norway  2008            1
Index(['4'], dtype='object')
   Athlete  Age        Country  Year  Gold Medals
1     Niko   23  United States  2008            8
2  Michael   19         Canada  2004            6
3     Peps   27  United States  2012            4
5  Aleskey   24          China  2000            2

DataFrame with Silver Medals:
   Athlete  Age        Country  Year  Gold Medals  Silver Medals
1     Niko   23  United States  2008            8              0
2  Michael   19         Canada  2004            6              0
3     Peps   27  United States  2012            4              2
5  Aleskey   24          China  2000            2              1